body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #333; 
    color: white; 
}

h1 {
    font-size: 24px;
    color: #8B0000; 
    border-bottom: 2px solid #8B0000; 
    padding-bottom: 10px; 
    font-weight: bold; 
}

h2 {
    font-size: 18px;
    color: #800080;
    border-bottom: 2px solid #800080; 
    padding-bottom: 10px; 
}

.image-link {
    display: inline-block;
    margin: 10px;
    border: 2px solid #8B0000;
    padding: 10px;
}

.image-link a {
    text-decoration: none;
    color: white; 
}

.image-link img {
    border: 1px solid white; 
}
